<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div >
            <h2>Portfolio Web</h2> - <h3>30/03/2022 - 26/03/2023</h3>
            <p>Desarrollo de una aplicación web full stack, que muestra datos personales, estudios cursados, experiencia laboral y conocimiento de las
                tecnologías. Esta aplicación es de arquitectura distribuida y contiene un diseño de interfaz de usuario (Front end) que muestra la información, una base de datos que almacene los datos y debe contiene
                con las APIs necesarias para proveer a través de internet la información (Back end).</p>
            <div><a href="https://frontjds.web.app/">Página web</a></div>
            <div><a href="https://github.com/Julieta359/FrontEnd">Repositorio GitHub (Front)</a></div>
            <div><a href="https://github.com/Julieta359/BackEnd">Repositorio GitHub (Back)</a></div>
        </div>
    </div>
</div>
