<div class="row">
    <h1 id="exp">Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educación 1</h1> - <h3>Año</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro fugiat quisquam dolor voluptas et perferendis tempora minima rerum officiis molestias officia, doloremque, magni necessitatibus natus! Quae iusto corrupti id dolore.
            </p>
            <li>
                <h1>Educación 2 </h1> - <h3>Año</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro fugiat quisquam dolor voluptas et perferendis tempora minima rerum officiis molestias officia, doloremque, magni necessitatibus natus! Quae iusto corrupti id dolore.
            </p>
        </ul>
    
    </div>
</div>
