.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoAP {
    width: 200px;
    margin-left: 20px;
}

.redes img {
    margin: 8px;
}

img {
    width: 40px;
}

@media (max-width:570px) {
    .container {
        flex-direction: column;
    }

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .redes img {
        margin: 5px;
    }
}

.btn {
    margin-right: 40px;
    margin-left: 40px;
}